<div class="container bg-white pb-1 px-3 shadow-sm mb-5" data-id={{id}}>
  <div class="row">
    <div class="col pt-4">
      <h2 class="h5 fw-bold text-capitalize">{{title}}</h2>
    </div>
     {{#if (when userId "eq" owner.id)}}
    <div class="col pt-2 text-end">
      <div class="dropdown">
        <button
          class="btn btn-link link-muted border-0 text-muted"
          id="commentDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        ><span><i class="fas fa-ellipsis-h"></i></span></button>
        <ul class="dropdown-menu" aria-labelledby="commentDropdown">
          <li><button class="dropdown-item post-edit-btn" data-id={{id}}>Edit</button></li>
          <li><button class="dropdown-item post-delete-btn" data-id={{id}}>Delete</button></li>

        </ul>
      </div>

    </div>
    {{/if}}
  </div>
  <div class="row">
    <div class="col">
      <p class="subheading mb-0 align-middle text-muted fw-light">
        <h3 class="h6 text-dark">@{{owner.username}}</h3>
        <small>{{formatDate createdAt}}</small>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-muted">{{content}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      

    </div>
    <div class="col text-end">
      <div class="row">
        <div class="col">
          {{#if loggedIn}}
            <button
            class="btn btn-link link-dark text-decoration-none border-0 align-middle"
            >
            31 Likes
            </button>
            <button
              class="btn btn-link link-dark text-decoration-none border-0 align-middle"
            >
              10 Comments
            </button>
          {{else}}
              <a
              class="btn btn-link link-dark text-decoration-none border-0 align-middle"
              href="/login"
              >
                31 Likes
              </a>
              <a
              class="btn btn-link link-dark text-decoration-none border-0 align-middle"
              href="/login"
              >
                10 Comments
              </a>
          {{/if}}
        </div>

      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr class="mb-1 mt-1" />
    </div>
  </div>
  <div class="row justify-content-center align-content-center">

    <div class="col-5 text-center">
      {{#if loggedIn}}
        <button class="btn btn-outline-dark border-0 align-middle w-100">
          <span class="far fa-thumbs-up me-1"></span>
          <span>Like</span>
        </button>
      {{else}}
        <a class="btn btn-outline-dark border-0 align-middle w-100" href="/login">
          <span class="far fa-thumbs-up me-1"></span>
          <span>Like</span>
        </a>
      {{/if}}
    </div>
    <div class="col-5 text-center">
      {{#if loggedIn}}
        <button class="btn btn-outline-dark border-0 align-middle w-100">
          <span class="far fa-comment-alt me-1 align-middle"></span>
          <span class="align-top">Comment</span>
        </button>
      {{else}}
        <a class="btn btn-outline-dark border-0 align-middle w-100" href="/login">
          <span class="far fa-comment-alt me-1 align-middle"></span>
          <span class="align-top">Comment</span>
        </a>
      {{/if}}

    </div>
  </div>
  
  {{> commentsContainer comments=comments userId=userId loggedIn=loggedIn}}

</div>